/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Clearfix per non far collassare i div quando si usa float */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* Utilizzo il font 'whitney' su tutto il body */
body{
    font-family: 'whitney', sans-serif;
    color: #23272a;
}

h2{
    font-size: 3.2em;
    margin-bottom: 25px;
}

h3{
    font-size: 2.2em;
}

p{
    font-size: 1.4em;
}

/* I container prendono una grandezza massima e sono centrati */
.container{
    width: 90%;
    max-width: 1180px;
    margin: 0 auto;
}

/* Classe comune per tutti i button */
.btn{
    background-color: white;
    padding: 11px 15px;
    border: none;
    border-radius: 19px;
    font-weight: bold;
    color: #23272a;
}

/* Classe comune per rendere i button maxi */
.btn-maxi{
    font-size: 1.3em;
    padding: 16px 40px;
    border-radius: 35px;
}

/* Classe supplementare per rendere un button nero chiaro */
.btn-lt-black{
    background-color: #23272a;
    color: white;
}

/* Classe supplementare per rendere un button violetto */
.btn-violet{
    background-color: #8ea1e1;
    color: white;
}

.bg-lg-grey{background-color: #f6f6f6;}

/* Classe per applicare il position relative */
.relative{position: relative;}

.fl-left{float: left;}
.fl-right{float: right;}

/* Altezza dell'header */
header{
    height: 80px;
    background-color: #255ee9;
    line-height: 80px;
}

li{
    list-style-type: none;
}

/* Gli elementi del nav dell'header vengono mostrati in orizziontale */
header nav li{
    display: inline;
}

/* Il logo e il button occupano ognuno il 20% dello spazio a disposizione */
.logo-img-box, .button-box{
    width: 20%;
}

/* Il nav occuperà il restante 60% e sarà centrato */
header nav{
    width: 60%;
    text-align: center;
}

/* Tutti gli elementi dell'header vengono affiancati con float */
.logo-img-box, nav, .button-box{
    float: left;
}

/* Il logo viene centrato in verticale */
img#logo-img{
    vertical-align: middle;
}

a{
    text-decoration: none;
    color: white;
}

/* Gli elementi della lista del nav vengono distanziati */
nav li{
    margin: 0 18px;
}

/* Allineo il pulsante dell'header a destra */
.button-box{
    text-align: right;
}

/* La sezione jumbotron prende un'altezza fissa ed ha un'immagine di cover */
section#jumbotron{
    height: 700px;
    background-image: url("../img/jumbo.png");
    background-size: cover;
    margin-bottom: 120px;
}

/* Il box info del  jumbotron prende una larghezza fissa e viene posto al centro con absolute & transform */
.jumbotron-info {
    width: 850px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

    /* Regole di formattazione del testo del jumbotron */
.jumbotron-info h1{
    font-size: 4em;
}

.jumbotron-info p{
    margin: 50px 0 30px;
}

.jumbotron-info button.btn {
    margin: 0 15px;

}
/* /FINE regole di formattazione del testo del jumbotron */


section.container{
    margin-bottom: 300px;
}

section.container>img{
    width: 550px;
}

section.container .box-description{
    width: 413px;
    margin-top: 25px;
}

section#maxi .container{
    text-align: center;
}

section#maxi img {
    width: 1200px;
    /* margin-bottom: 100px; */
}

.start h3 {
    margin-bottom: 42px;
}

section#maxi .start{
    background-image: url("../img/stars.svg");
    background-repeat: no-repeat;
    background-position: 60% 22%;
    padding: 100px 0;
}

footer{
    color: #8ea1e1;
    background-color: #23272a;
    padding: 100px 0;
}

footer .footer-info{
    width: 30%;
}

footer .footer-info img{
    width: 28px;
    vertical-align: bottom;
    margin-top: 20px;
}

footer .footer-info i{
    margin: 21px 19px 0 0;
    color: white;
    font-size: 1.2em;
}

footer ul{
    width: 17.5%;
}

footer ul li:first-child{
    font-weight: bold;
}

footer ul li{
    padding-bottom: 12px;
}

#footer-part-1{
    padding-bottom: 25px;
    border-bottom: 1px solid #8ea1e1;
}

#footer-part-2{
    padding-top: 32px;
}

select{
}
